.cantact{
    background-color: #F0EFEC;
   
}
.cantact__container{
    padding: 213px 0px 233px;
    background: url(../../img/cantact.png) no-repeat right;

}
.cantact__name{
    font-size: 40px;
line-height: 58px;
width: 452px;
letter-spacing: 2px;
text-transform: uppercase;
margin-bottom: 55px;

color: #181A3F;
}