.started__container{
    padding-bottom: 239px;
}
.started__table{
    width: 100%;
    border-collapse: collapse;

}
.started__ustun{
    width: 317px;
    text-align: left;
    vertical-align: top;
    padding-top: 60px;  
}
.started__text{
    width: 618px;
    margin-bottom: 60px;
   
}
.started__title{
    margin-top: 0px;
    
    font-size: 38px;
line-height: 50px;
color: #181A3F;
}
.started__ustun{
    line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: 0.72px;
text-transform: uppercase;


}
.started__satr{
   
    border-bottom: 1px solid #DAD9D6;

}